.head{
      
    background-color: #00ffbf;
    border:solid;
    padding: 100px;
    text-decoration: none;
     }
  
     .note{
       background-color: red;
       border: dotted;
       text-decoration: none;
     }
     body{
         margin: 0px;
         background-color: #ffc700;
     }
a:link{
    color: white
}
a:visited{
    color:red
}


  .grid {
    background: darkred;
    background-color: #DC00FF;
    display: flex;
    justify-content: last baseline;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    margin: 50px;
    padding: 100px;
  }
  .grid:hover{
      transform: scale(1.2);
  }
  
  .camel {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#3AA01B;
  }
  
  
  .chameleon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#3AA01B;
  }
  
  .cicada {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#3AA01B;
  }
  
  .panda {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#3AA01B;
  }
  
  .pigeon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#3AA01B;
  }
  
  .teddy {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#3AA01B;
  }

  .youtube{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 650px;
    padding: 50px;
    background-color:#3AA01B;
  }

  .instagram{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 650px;
    padding: 50px;
    background-color:#3AA01B;
  }
